* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    background-color: #f4f4f4;
    
}

.nav-links {
  display: flex;
  gap: 18px;
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #111;
  font-size: 14px;
}
.nav-links a:hover {
  text-decoration: underline;
}


.banner {
  height: 320px;
  width: 100%;

  /*MOST IMPORTANT*/
  background-image: url("image here");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-bottom: 1px solid #ddd;
}
