* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

body {
  flex-direction: column;
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #dbdbdb;
  min-height: 100vh;
    
}

.top-header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links  {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/*Nav button*/
.nav-btn {
text-decoration: none;
padding: 10px 18px;
margin: 5px;
background-color: #222;
color: white;
border-radius: 6px;
transition: 0.3s;
}

.nav-btn:hover {
background-color: rgb(92, 218, 255);
transform: translateY(-2px);
}
.nav-btn:active {
transform: scale(0.95);
}


.banner {
  display: block;
  height: 50vh;
  min-height: 300px;
  max-height: 600px;
  width: 100%;
  /*MOST IMPORTANT RIGHT NOW*/
  background-image: url("images/Ai_Hoshino_Banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #ddd;
  border-bottom: 3px solid gray;
}

.headerlogo img {
  max-width: 75px;  
  width: 100%;        
  height: auto;
  display: block;
  justify-content: left;
}


.site-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  border-top: 3px solid #000;
  font-size: 1rem;
  position: relative;
  width: 100%;
  padding: 20px;
  bottom: 0;
}

.main-content {
  display:flex;
  flex-direction: column;
  gap:30px;
}

.post, .post-about-me {
  background:white;
  padding:25px;
  border-radius:8px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
  transition:0.2s;
  flex-direction: column;
  display: flex;
}

article.post-about-me img {
  width: 150px; 
  height: auto;    
  display: block;    
  margin: 20px auto; 
  border-radius: 8px; 
}


.post:hover {
  transform: translateY(-4px);
  box-shadow:0 6px 14px rgba(0,0,0,0.15);
}

.post a {
  text-decoration:none;
  color:black;
  display:block;
}





.content-wrap {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  padding: 40px 20px;
}

.sidebar {
  display:flex;
  flex-direction:column;
  gap:20px;
}

.sidebar-box {
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

ul, ol {
  margin-left: 20px; 
  padding-left: 20px; 
}

li {
  margin-bottom: 5px; 
}




@media (max-width: 768px) {
  .banner {
    height: 25vh;  /* smaller on mobile */
    min-height: 200px;
  }
}