* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  flex: 1;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #dbdbdb;
    
}

.top-header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links  {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/*Nav button*/
.nav-btn {
text-decoration: none;
padding: 10px 18px;
margin: 5px;
background-color: #222;
color: white;
border-radius: 6px;
transition: 0.3s;
}

.nav-btn:hover {
background-color: #ff4757;
transform: translateY(-2px);
}
.nav-btn:active {
transform: scale(0.95);
}


.banner {
  min-height: 60vh;
  height: 30vh;
  width: 100%;
  /*MOST IMPORTANT RIGHT NOW*/
  background-image: url("image here");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #ddd;
  border-bottom: 3px solid gray;
}

.headerlogo img {
  max-width: 75px;  
  width: 100%;        
  height: auto;
  display: block;
  justify-content: left;
}


.site-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-top: 3px solid #000;
  font-size: 1rem;
    
}