* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    
}

.top-header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #ddd;
}

.nav-links  {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #111;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/*Nav button*/
.nav-btn {
text-decoration: none;
padding: 10px 18px;
margin: 5px;
background-color: #222;
color: white;
border-radius: 6px;
transition: 0.3s;
}
.nav-btn:hover {
background-color: #ff4757;
transform: translateY(-2px);
}
.nav-btn:active {
transform: scale(0.95);
}


.banner {
  height: 320px;
  width: 100%;

  /*MOST IMPORTANT RIGHT NOW*/
  background-image: url("image here");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-bottom: 1px solid #ddd;
}

.headerlogo img {
  height: 45px;
  width: auto;
  display: block;
  justify-content: left;
}